{% extends 'base.html.twig' %}

{% block title %}Cart{% endblock %}

{% block body %}
    <div>
        <h1>Your Cart</h1>
        {% if cart.items.count > 0 %}
            <div>
                <!-- List of items -->
                <div>
                    {{ form_start(form) }}
                    <div>
                        <div>
                            <h5>Items</h5>
                            <div>
                                {{ form_widget(form.save, {'attr': {'class': 'btn btn-warning'}}) }}
                                {{ form_widget(form.clear, {'attr': {'class': 'btn btn-light'}}) }}
                            </div>
                        </div>
                        <ul>
                            {% for item in form.items %}
                                <li>
                                    <div>
                                        <img src="https://via.placeholder.com/200x150" width="64" alt="Product image">
                                    </div>
                                    <div>
                                        <h5>{{ item.vars.data.product.name }}</h5>
                                        <small>{{ item.vars.data.product.description[:50] }}...</small>
                                        <div>
                                            <div>
                                                {{ form_widget(item.quantity, {
                                                    'attr': {
                                                        'class': 'form-control form-control-sm ' ~ (item.quantity.vars.valid ? '' : 'is-invalid')
                                                    }
                                                }) }}
                                                <div>
                                                    {{ form_errors(item.quantity) }}
                                                </div>
                                            </div>
                                            {{ form_widget(item.remove, {'attr': {'class': 'btn btn-dark btn-sm'}}) }}
                                        </div>
                                    </div>
                                    <div>
                                        <b>{{ item.vars.data.product.price }} €</b>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    {{ form_row(form._token) }}
                    {{ form_end(form, {'render_rest': false}) }}
                </div>

                <!-- Summary -->
                <div>
                    <div>
                        <h5>Summary</h5>
                        <div>
                            There are {{ nbitems }} item(s) in your cart.
                        </div>
                        <div>
                            There are {{ nbref }} reference(s) in your cart.
                        </div>

                        <ul>
                            <li>
                                <div><b>Total</b></div>
                                <span><b>{{ cart.total }} €</b></span>
                            </li>
                        </ul>
                        <div>
                            <a href="#" class="btn btn-warning w-100">Checkout</a>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <div>
                <p>Your cart is empty.</p>
                {% if app.user is not null%}
                    <p>Go to the <a href="{{ path('app_home') }}">product list</a>.</p>
                {% endif %}

            </div>
            {% if app.user is null%}
            <div>
                Please log in to add items in your cart.
            </div>
                {% endif %}
        {% endif %}
    </div>
{% endblock %}