{% extends 'base.html.twig' %}

{% block title %}Hello CartController!{% endblock %}

{% block body %}
    <div>
        <table>
            <tr>
                <th>Item</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Total</th>
                <th>Actions</th>
            </tr>
        </table>
        <tbody>
            {% for item in cartData %}
                <tr>
                    <td>{{ item.product.name }}</td>
                    <td>{{ item.product.price }}</td>
                    <td>{{ item.quantity }} €</td>
                    <td>{{ item.quantity * item.product.price }} €</td>
                    <td>
                        <a href="{{ path('app_cart_add', {id: item.product.id}) }}">
                            <input type="submit" value="+1"/>
                        </a>
                        <a href="{{ path('app_cart_remove', {id: item.product.id}) }}">
                            <input type="submit" value="-1"/>
                        </a>
                    </td>
                </tr>
            {% else %}
            <tr>
                <td colspan="5">Votre panier est vide</td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <td colspan="3">Total</td>
            <td>{{ total }} €</td>
        </tr>
        </tfoot>
    </div>
{% endblock %}
