{% extends 'base.html.twig' %}
{% block css %}
    <link rel="stylesheet" href="{{ asset('style/cart.css') }}"/>
{% endblock %}

{% block title %}Cart{% endblock %}

{% block body %}
    <div class="cart index">
    <h1>Your Cart</h1>
    {% if cart.items.count > 0 %}
        <div class="cart_content">
            {{ form_start(form) }}
            <div class="cart_header">
                <div class="cart_link">
                    <div>{{ form_widget(form.save) }}</div>
                    <div>{{ form_widget(form.clear) }}</div>
                </div>
                <hr>
            </div>
            <div class="items_container"
                {% for item in form.items %}
                    <div class="item">
                        <div class="item_header">
                            <img src="{{ asset(img[loop.index - 1]) }}" alt="Product image">
                        </div>
                        <div class="text-container">
                            <ul>
                                <li class="name">{{ item.vars.data.product.name }}</li>
                                <li class="description">{{ item.vars.data.product.description[:50] }}...</li>
                                <li class="price">{{ item.vars.data.product.price }}€</li>
                            </ul>
                            <div class="cart_link">
                                {{ form_widget(item.quantity, {
                                    'attr': {
                                        'class': 'form-control form-control-sm ' ~ (item.quantity.vars.valid ? '' : 'is-invalid')
                                    }
                                }) }}
                                    {{ form_errors(item.quantity) }}
                                    {{ form_widget(item.remove) }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {{ form_row(form._token) }}
        {{ form_end(form, {'render_rest': false}) }}
        <!-- Summary -->
        <div class="cart_summary">
            <hr>
            <div>
                <h5>Summary</h5>
                <div>
                    There are {{ nbitems }} item(s) in your cart.
                </div>
                <div>
                    There are {{ nbref }} reference(s) in your cart.
                </div>
                <h3><b>Total : </b><span><b>{{ cart.total }} €</b></span></h3>
                <div>
                    <a href="#">Checkout</a>
                </div>
            </div>
        </div>
    {% else %}
        <div>
            <p>Your cart is empty.</p>
            {% if app.user is not null %}
                <p>Go to the <a href="{{ path('app_home') }}">product list</a>.</p>
            {% endif %}

            {% if app.user is null %}
            <p>Please log in to add items in your cart.</p>
            {% endif %}
        </div>
    {% endif %}
    </div>
{% endblock %}