{% extends 'base.html.twig' %}
{% block css %}
    <link rel="stylesheet" href="style/form.css">
{% endblock %}
{% block title %}
    {{controller_name}}
{% endblock %}



{% block body %}
        {% if error %}
            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        <form class='form' action="{{ path('app_login') }}" method="post">
            <h1>Connexion</h1>
            <div>
                <label for="username">Email</label>
                <input type="text" id="username" name="_username" value="{{ lastUsername }}">
            </div>

            <div>
                <label for="password">Mot de passe</label>
                <input type="password" id="password" name="_password">
            </div>

            <input type="hidden" name="_target_path" value="/">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <div>
                <button type="submit">Valider</button>
            </div>
            <p>Pas encore de compte ? <a href="{{path('app_register')}}">M'inscrire.</a></p>
        </form>
{% endblock %}