{% extends 'base.html.twig' %}
{% block css %}
    <link rel="stylesheet" href="{{ asset('style/item.css') }}" />
{% endblock %}

{% block body %}
<div class="item">
    <div class="item_header">
        <img class="item_link" src="{{ asset(article.image) }}" alt="{{ article.slug }} image" />
    </div>
    <ul>
        <li class="name">{{ article.name }}</li>
        <li class="category">
            {{ article.category }}
        </li>
        <li class="description">{{ article.description }}</li>
        <li class="price">{{ article.price }}€</li>
    </ul>
    {{ form_start(form) }}
    <div class="item_link">
        {{ form_label(form.quantity) }}
        {{ form_widget(form.quantity) }}
        <div>
            {{ form_errors(form.quantity) }}
        </div>
    </div>
    {{ form_widget(form.add) }}
    {{ form_end(form) }}
</div>
{% endblock %}
