{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} | Items {% endblock %}

{% block body %}

    {% if page is defined %}
        <h1> Item paginated | page n°{{ page }}</h1>
    {% else %}
        <h1> List of all items </h1>
    {% endif %}

    {%  for i in items %}
        <div>
            <img src="{{ i.image }}" alt="{{ i.name }} image">
            <ul>
                <li><a href="{{ path('app_detail_id',{'id': i.id}) }}">{{ i.name }}</a></li>
                <li>{{ i.category }}</li>
                <li>{{ i.description }}</li>
                <li>Price : {{ i.price }} €</li>
                <li><a href="{{ path('app_cart_add',{'id': i.id}) }}"><input type="submit" value="Add do cart"/></a></li>
            </ul>
        </div>
    {% endfor %}

    {% if page is defined %}
        {% if(page > 0) %}
            <a href="{{ path('app_list_page', {'page': page-1}) }}">Previous</a>
        {% endif %}
        {# {% if page!=lastPage %} #}
            <a href="{{ path('app_list_page', {'page': page+1}) }}">Next</a>
        {# {% endif %} #}
    {% endif %}
{% endblock %}
