<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    {# CSS #}
    <link rel="stylesheet" href="{{ asset('style/fonts.css') }}" />
    <link rel="stylesheet" href="{{ asset('style/app.css') }}" />
    <link rel="stylesheet" href="{{ asset('style/form.css') }}" />
    {% block css %}{% endblock %} {# Title #}
    <title>{% block title %}DingTongs{% endblock %}</title>
  </head>

  <body>
    <header>
      <div>
        <a href="{{path('app_home')}}">
          <img src="{{ asset('img/icon.png') }}" alt="logo dingtongs" />
        </a>
      </div>
        
      {% if app.request.pathInfo == '/' %}
        {# NAV HOME #}
        <nav class="home">
          <ul >
            <li class="navbar">
              <a href="{{ path('app_home') }}">Accueil</a>
            </li>
            <li class="navbar">
              <a href="{{ path('app_list') }}">Boutique</a>
            </li>
            {# <li class="navbar">
              <a href="{{ path('app_about') }}">A propos</a>
            </li> #}
            <li class="navbar">
              <a href="{{ path('app_cart') }}">
                  <img src="{{asset('img/cart_white.svg')}}" alt="cart">
              </a>
            </li>
      
            {% if app.user %}
              <li class="navbar">
                <a href="{{ path('app_account_infos') }}">
                  <img src="{{asset('img/account_white.svg')}}" alt="account">
                </a>
              </li>
              <li>
                <a href="{{ path('app_logout') }}">
                    <img src="{{asset('img/logout_white.png')}}" alt="logout">
                </a>
              </li>
            {% else %}
              <li>
                <a href="{{ path('app_login') }}">
                    <img src="{{asset('img/account_white.svg')}}" alt="account">
                </a>
              </li>
            {% endif %}
          </ul>
        </nav>
      {% else %}
        {# NAV GLOBAL #}
        <nav>
          <ul >
            <li class="navbar">
              <a href="{{ path('app_home') }}">Accueil</a>
            </li>
            <li class="navbar">
              <a href="{{ path('app_list') }}">Boutique</a>
            </li>
            {# <li class="navbar">
              <a href="{{ path('app_about') }}">A propos</a>
            </li> #}
            <li class="navbar">
              <a href="{{ path('app_cart') }}">
                  <img src="{{asset('img/cart.svg')}}" alt="cart">
              </a>
            </li>
          
            {% if app.user %}
              <li class="navbar">
                <a href="{{ path('app_account_infos') }}">
                  <img src="{{asset('img/account.svg')}}" alt="account">
                </a>
              </li>
              <li>
                <a href="{{ path('app_logout') }}">
                    <img src="{{asset('img/logout.svg')}}" alt="logout">
                </a>
              </li>
            {% else %}
              <li>
                <a href="{{ path('app_login') }}">
                    <img src="{{asset('img/account.svg')}}" alt="account">
                </a>
              </li>
            {% endif %}
          </ul>
        </nav>
      {% endif %}
      


    
    </header>

    <main {% if app.request.pathInfo == '/' %}{% else %}style="padding-top: 10rem"{% endif %}>{% block body %}{% endblock %}</main>

    {# <footer>{% block footer %}{% endblock %}</footer> #}
    {% block js %}
    <script src="{{ asset('js/app.js') }}"></script>
    {% endblock %}
  </body>
</html>
