<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        {# CSS #}
        <link rel="stylesheet" href="style/fonts.css">
        <link rel="stylesheet" href="style/app.css">
        {% block css %}{% endblock %}
        {# Title #}
        <title>{% block title %}Shop entry point{% endblock %}</title>
    </head>
    <body>
        <nav>
            {% block nav %}
                <ul>
                    <li class="navbar"><a href="{{ path('app_home') }}">Home</a></li>
                    <li class="navbar"><a href="{{ path('app_list') }}">Item list</a></li>
                    <li class="navbar"><a href="{{ path('app_list_page') }}">Item list paginated</a></li>
                    <li class="navbar"><a href="{{ path('app_article_index') }}">Article CRUD</a></li>
                    <li class="navbar"><a href="{{ path('app_category_index') }}">Category CRUD</a></li>
                    <li class="navbar"><a href="{{ path('app_about') }}"> About us</a></li>
                    {# {% if app.user is null %} #}
                        <li class="navbar"><a href="{{ path('app_home') }}"> Login</a></li>
                        <li class="navbar"><a href="{{ path('app_register') }}"> Sign in</a></li>
                    {# {% endif %} #}
                    {# {% if app.user is not null %} #}
                        <li class="navbar"><a href="{{ path('app_home') }}"> Logout</a></li>
                    {# {% endif %} #}
                </ul>
            {% endblock %}
        </nav>
        {% block body %}{% endblock %}

        {% block js %}
            <script src="js/app.js"></script>
        {% endblock %}


    </body>
    <footer>
        {%  block footer %}Base footer{% endblock %}
    </footer>
</html>
