{% extends 'base.html.twig' %}
{% block css %}
<link rel="stylesheet" href="{{asset('style/dashboard.css')}}">
<link rel="stylesheet" href="{{asset('style/table.css')}}">
{% endblock %}
{% block title %}Gestion Articles{% endblock %}

{% block body %}
<div class="content">
    {% include "dashboard/nav.html.twig" %}

    <div class="container">
        <table class="table greyGridTable">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Image</th>
                    <th>Slug</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for article in articles %}
                <tr>
                    <td>{{ article.id }}</td>
                    <td>{{ article.name }}</td>
                    <td>{{ article.description }}</td>
                    <td>{{ article.price }}</td>
                    <td>{{ article.image }}</td>
                    <td>{{ article.slug }}</td>
                    <td class="buttons-container">
                        <a class="show" href="{{ path('app_article_show', {'id': article.id}) }}">Détails</a>
                        <a class="edit" href="{{ path('app_article_edit', {'id': article.id}) }}">Modifier</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">Aucun article</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    <a class="create" href="{{ path('app_article_new') }}">Ajouter</a>
    </div>
</div>
    
{% endblock %}
