<div class="item">
    <div class="item_header">
      <a class="item_link" href="{{ path('app_detail_id', { id: i.id }) }}">
        <img src="{{ asset(i.image) }}" alt="{{ i.name }} image" />
      </a>
    </div>
    <ul>
      <li class="name">{{ i.name }}</li>
      <li class="category">
        <a href="{{path('app_list', { categorie: i.category, min : min, max: max  })}}">{{ i.category }}</a>
      </li>
      <li class="description">{{ i.description }}</li>
      <li class="price">{{ i.price }}€</li>
    </ul>
</div>

