<div class="item">
  <img src="{{ asset(i.image) }}" alt="{{ i.name }} image" />
  {#  <div class="add_to_cart">
    <a href="{{ path('app_cart_add', { id: i.id }) }}">Ajouter au panier</a>
  </div>#}
  <div class="add_to_cart">
    <a href="{{ path('app_detail_id', { id: i.id }) }}">Detail</a>
  </div>
  <ul>
    <li class="name">
      <a href="{{ path('app_detail_id', { id: i.id }) }}">{{ i.name }}</a>
    </li>
    <li class="category">
      <a href="{{path('app_list', { categorie: i.category, min : min, max: max  })}}">{{ i.category }}</a>
    </li>
    <li class="description">{{ i.description }}</li>
    <li class="price">{{ i.price }}€</li>
  </ul>
</div>
